@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    font-family: "Raleway";
    text-align: center;
}

header {
    height: 500px;
    background-color: #283b42;
}

#header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

h1, h2, h3, h4, h5 {
    color: white;
}

h1, h3, h4, a {
    font-family: "Raleway Black";
}

h5 {
    font-family: "Roboto";
}

a, a:hover {
    color: white;
}

#signup-link {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    padding: 10px;
}
