<!doctype html>
<html lang="en">

<head>
    <title>About Us</title>
    <!-- Required meta tags -->
    <link rel="shortcut icon" href="./src/logo.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/about.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <%- include("../partials/favicon.ejs") %>
</head>

<body>
    <!--Nav Bar -->
    <%- include("../partials/navbar.ejs") %>
    
    <!-- Header -->
    <header>
        <h1 class="text-center my-5">About Us</h1>
    </header>

    <!--Content-->

    <div class="text">

        <p>Welcome to our application. We are Air Tutor, a group of students who are looking for a solution to
            mainstream online learning.
            <br> We want to spread education faster than COVID-19! </p>
    </div>

    <div class="outer">
        <div class="bio">
            <h3>Dylan Sung</h3>
            <img class="picture" src="./src/rsz_saltbae.jpg">
            <p class="description"> Description here </p>
        </div>

        <div class="bio">
            <h3>Chris Raganit</h3>
            <img class="picture" src="./src/chris.jpg">
            <p class="description">Like any CST student, Chris codes and studies until the ungodly hours of the dawn.
                When she is not doing schoolwork, she likes jamming on her bass guitar, slamming root beer floats with
                the boys, playing video games, and working on a very ambitious series of fantasy novels. After receiving
                her diploma, Chris intends on pursuing a degree in UI design and chasing her longtime dream of being
                a writer.</p>
        </div>

        <div class="bio">
            <h3>Kurt Milan</h3>
            <img class="picture" src="./src/kurt.jpg">
            <p class="description">Kurt Milan is a Computer Systems Technology student in BCIT. After he finishes CST,
                he plans on becoming a game programmer. When he is not working, he programs games or plays games, plays
                the guitar, piano, or ukulele, or hangs out with friends. </p>
        </div>

        <div class="bio">
            <h3>Vicly Cao</h3>
            <img class="picture" src="./src/vicly.jpg">
            <p class="description"> How do you guys have so much to write about I don't know what to say help I just
                meme pepes </p>
        </div>
    </div>

    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>

    <!-- Optional JavaScript -->
    <script src="./scripts/navbar.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>