<!doctype html>
<html lang="en">

<head>
    <title>FAQ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- About us styling -->
    <link rel="stylesheet" href="./styles/faq2.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <%- include("../partials/favicon.ejs") %>
</head>

<body>
    <!--Nav Bar -->
    <%- include("../partials/navbar.ejs") %>

    <div id="header-content">
        <h1 id="faq-title">Frequently asked questions</h1>
        <p>Select a category for questions below</p>

        <div id="categories">
            <a href="#for-tutors" class="categories-column" id="tutors-category">
                <img src="src/index/teacher.png"><br>
                Tutors
            </a>
            <a href="#for-students" class="categories-column" id="students-category">
                <img src="src/index/student.png"><br>
                Students
            </a>
            <a href="#general" class="categories-column" id="general-category">
                <img src="src/index/faq.png"><br>
                General
            </a>
        </div>
    </div>

    <div id="faq-content">
        <div class="section" id="for-tutors">
            <h1>For tutors</h1>
            <div class="question" id="question1" onclick="openQuestion1()">
                <h3><span id="sign1"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>Am I limited to teaching one subject?</h3>
                <span class="answer" id="answer1">No, you are not.</span>
            </div>

            <div class="question" id="question2" onclick="openQuestion1()">
                <h3><span id="sign2"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>Will I be paid to tutor?</h3>
                <span class="answer" id="answer2">Currently, this is a free service. However, in the future, we would
                    like to implement a credit system so that our tutors can get paid for the hard work that they
                    do.</span>
            </div>

        </div>

        <div class="section" id="for-students">
            <h1>For students</h1>
            <div class="question" id="question3" onclick="openQuestion1()">
                <h3><span id="sign3"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>Who are the tutors?</h3>
                <span class="answer" id="answer3">Tutors come from a variety of backgrounds, including former and
                    current one-on-one tutors and others who may have expertise in the subject area. These tutors are
                    very passionate about helping students succeed.</span>
            </div>

            <div class="question" id="question4" onclick="openQuestion1()">
                <h3><span id="sign4"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>How do I know my tutor will help me?</h3>
                <span class="answer" id="answer4">You may view the tutor’s profile page to see their rating prior to
                    scheduling a meeting with them. Their students have given them the rating after each of their
                    sessions.
                </span>
            </div>

            <div class="question" id="question5" onclick="openQuestion1()">
                <h3><span id="sign5"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>Do I need to pay for this service?</h3>
                <span class="answer" id="answer5">Currently, it is a free service. However, in the future, we would like
                    to implement a credit system so that our tutors can get paid for the hard work that they do.
                </span>
            </div>

            <div class="question" id="question6" onclick="openQuestion1()">
                <h3><span id="sign6"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>Is the tutoring one-on-one or do I need to do it with a group?</h3>
                <span class="answer" id="answer6">For now, all of our sessions are only one-on-one.</span>
            </div>
        </div>

        <div class="section" id="general">
            <h1>General</h1>
            <div class="question" id="question7" onclick="openQuestion1()">
                <h3><span id="sign7"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>How does Air Tutor work?</h3>
                <span class="answer" id="answer7">First, the student makes a request asking for help with their
                    homework.
                    This can be done on the Request page. This request is sent to the Posts page, which is a list of
                    requests made by students.<br><br>
                    When the tutor browses the Posts page, they can message the student. The
                    student then schedules a meeting and decides the payment. At the time of the session, the tutor
                    begins the session where the student can join. During the session, they are able to use our voice
                    calling and canvas functions in order to communicate and learn better.<br><br>
                    After the session is over,
                    the student rates the teacher based on whether or not they were able to answer the question. This
                    rating will be later averaged on the tutor's profile, which will be helpful for the tutor's future
                    students to see.</span>
            </div>
            <div class="question" id="question8" onclick="openQuestion1()">
                <h3><span id="sign8"><svg aria-hidden="true" id="plus-svg" focusable="false" data-prefix="fas"
                            data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                            </path>
                        </svg></span>How does the credit system work?</h3>
                <span class="answer" id="answer8">Credits can be purchased in the shop. Each session takes a specific
                    amount of credits, which is stated in the session page. These credits will be deposited in the
                    tutor’s account and removed from the student’s account. These credits will then be available for the
                    tutor to convert into currency.
                </span>
            </div>
        </div>
    </div>

    <!--Footer-->
    <%- include("../partials/footer.ejs") %>

    <!-- Firebase javascripts -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="scripts/firebase.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <script src="scripts/navbar.js"></script>
    <script src="scripts/faq2.js"></script>
</body>

</html>