<!doctype html>
<html lang="en">

<head>
    <title>Home</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- Home styling -->
    <link rel="stylesheet" type="text/css" href="./styles/home.css">
    <link rel="stylesheet" type="text/css" href="./styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="./styles/footer.css">

    <!-- Favicon -->
    <%- include("../partials/favicon.ejs") %>
</head>

<body>
    <!--Nav Bar -->
    <%- include("../partials/navbar.ejs") %>

    <!-- Home page content -->
    <div id="home-content" class="mb-5">
        <!-- Welcome message with user name and profile picture -->
        <div id="leftcolumn">
            <img id="profilePic" src="./src/profile-white.png">
            <h1 class="text-center">Welcome, <br><span id="username">user</span>!</h1>
            <h3 class="text-center">You currently have <span id="count"></span> meetings scheduled.</h3>
        </div>

        <!-- Where reminders of scheduled meetings are displayed -->
        <div id="rightcolumn">
            <div class="card" id="prompt">
                <!-- This message displays if user has no meetings -->
                <h1>Connect with others!</h1>
                <div id="box">
                    <div class="dir" onclick="window.location.href = '/request';">
                        <img class="icon" src="./src/home/home-request.png">
                        <p>Make a request and let others message you...</p>
                    </div>
                    <div class="dir" onclick="window.location.href = '/post';">
                        <img class="icon" src="./src/home/home-msg.png">
                        <p>or message someone who made a post!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <%- include("../partials/footer.ejs") %>

    <!-- Firebase javascripts -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="scripts/firebase.js"></script>

    <!-- Optional JavaScript -->
    <script src="./scripts/navbar.js"></script>
    <script src="./scripts/logout.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="./scripts/home.js"></script>
</body>

</html>