<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Air Tutor</title>

    <!-- My style sheets -->
    
    <%- include("../partials/favicon.ejs") %>
    
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Roboto', Arial;
            background-color: #f1f1f1;
            color: #262834;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
            font-family: 'Raleway';
            font-weight: bolder;
        }

        p {
            line-height: 1.6;
        }

        /* The side navigation menu */
        .sidenav {
            height: 100%;
            /* 100% Full-height */
            width: 0;
            /* 0 width - change this with JavaScript */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Stay on top */
            top: 0;
            left: 0;
            background-color: #1d6a96;
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 1s;
            /* 1 second transition effect to slide in the sidenav */
        }

        /* The navigation menu links */
        .sidenav a {
            font-family: 'Raleway';
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18pt;
            font-weight: 500;
            color: #f1f1f1;
            display: block;
            transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #85b6cb;
        }

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main-content {
            transition: margin-left .5s;
        }

        #description-content,
        #features-content,
        #testimonials-content,
        .signup-content {
            margin-bottom: 128px;
        }

        #features-content>h1,
        #testimonials-content>h1,
        .signup-content>h1 {
            padding-left: 32px;
            padding-right: 32px;
        }

        .signup-title {
            text-align: left;
        }

        .signup-content {
            margin: 72px 0px 72px 0px;
        }

        .signup-content>h1 {
            color: #1d6a96;
        }

        .title {
            text-decoration: underline;
            text-decoration-color: #85b6cb;
        }

        .signup-content {
            text-align: center;
        }

        .signup-button {
            font-family: 'Raleway';
            text-decoration: none;
            text-align: center;
            color: #f1f1f1;
            padding: 8px 24px 8px 24px;
            font-weight: 500;
            font-size: 16pt;
            background-color: #1d6a96;
            border: solid 1px #1d6a96;
            border-radius: 50px;
            margin-bottom: 36px;
        }

        #description-content {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }

        #description-content>.row>.column>h1 {
            text-align: left;
            font-size: 36pt;
        }

        #description-content>.row>.column>p {
            font-size: 16pt;
        }

        #description-content>.row {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            padding: 8px 16px;
        }

        .description-column {
            text-align: center;
            flex: 50%;
            max-width: 50%;
            padding: 8px;
            padding-left: 24px;
            padding-right: 24px;
        }

        .description-img {
            margin-left: 72px;
            margin-top: 24px;
            padding: 0px;
            height: 100%;
            width: 200%;
            background-image: url("src/index/header.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

        #description-content>.row>.column>.description-img>img {
            margin-left: 64px;
            height: 100%;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            padding: 8px 16px;
        }

        .features-img,
        .testimonials-img {
            margin-top: 8px;
            margin-bottom: 8px;
            width: 200px;
            object-fit: cover;
            height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .features-img>img,
        .testimonials-img>img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .testimonials-img>img {
            border-radius: 50%;
        }

        /* Create four equal columns that sits next to each other */
        .column {
            flex: 33.3333333333%;
            max-width: 33.3333333333%;
            padding: 8px;
            padding-left: 24px;
            padding-right: 24px;
        }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }

        .author {
            color: #1d6a96;
            font-family: 'Raleway';
            font-weight: bold;
        }

        /* SVG files */
        #menu-svg {
            color: #1d6a96;
            margin: 16px;
            height: 32px;
            width: 32px;
        }


        @media (max-width: 1060px) {

            .description-column,
            #description,
            .description-img {
                flex: 100%;
                max-width: 100%;
                width: 100%;
            }

            .description-img {
                display: inline-block;
                padding: 0px;
            }

            #description>h1 {
                font-size: 36pt;
            }

            #description>p {
                font-size: 12pt;
            }
        }

        /* Responsive layout - makes a one column-layout instead of three columns */
        @media (max-width: 1070px) {

            #description>h1 {
                font-size: 36pt;
            }

            #description>p {
                font-size: 11pt;
            }

            .column,
            #description,
            .description-img {
                flex: 100%;
                max-width: 100%;
                width: 100%;
            }

            .description-img {
                padding: 0px;
                margin-left: 0px;
            }
        }

        /* Media queries */
        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {

            .column,
            #description,
            .description-img {
                flex: 100%;
                max-width: 100%;
            }

            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    <div id="main-sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/login">Sign in</a>
        <a href="/aboutus2">About</a>
        <a href="/faq2">FAQ</a>
    </div>

    <!-- Use any element to open the sidenav -->
    <header id="header-content">
        <span id="menu-button" onclick="openNav()"><svg aria-hidden="true" id="menu-svg" focusable="false"
                data-prefix="fas" data-icon="paper-plane" class="svg-inline--fa fa-paper-plane fa-w-16" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9
                    13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9
                    33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z">
                </path>
            </svg>
        </span>

        <div id="description-content">
            <div class="row">
                <div class="column" class="description-column">
                    <h1>Welcome to <br><span class="title">Air Tutor.</span></h1>

                    <p> As students are being forced into online learning and many are losing their jobs due to the
                        pandemic,
                        we, the developers of Air Tutor, created an application that helps both students and tutors in
                        this time of need.
                    </p><br>

                    <div class="signup-button">Create an account</div>
                </div>

                <div class="column" class="description-column">
                    <div class="description-img"></div>
                </div>
            </div>
        </div>
    </header>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main-content">

        <div id="features-content">
            <h1>All the learning tools you need, in <span class="title">Air Tutor.</span></h1>
            <div class="row">
                <div class="column">
                    <div class="features-img">
                        <img src="src/index/posting-feature.png">
                    </div>

                    <h2>Your call for help,<br> answered in Air Tutor.</h2>

                    <p>Stuck on a homework question? Post a request on Air Tutor. Our highly-qualified tutors will reach
                        out to you. Believe me, they want to help.</p>
                </div>

                <div class="column">
                    <div class="features-img">
                        <img src="src/index/scheduling-feature.png">
                    </div>

                    <h2>Features that help you communicate like never before.</h2>

                    <p>We in Air Tutor believe that communication is the key to success. Tutors and students can
                        privately message each other and schedule sessions to help students better learn the material.
                    </p>
                </div>

                <div class="column">
                    <div class="features-img">
                        <img src="src/index/collaboration-feature.png">
                    </div>

                    <h2>Learning the material<br> has never been easier.</h2>

                    <p>Air Tutor provides you with all the tools you need to succeed. Drawing tools, screen sharing, and
                        video calling — you name it, we got it.</p>
                </div>
            </div>
        </div>

        <div id="testimonials-content">
            <h1>What the community is saying about <span class="title">Air Tutor.</span></h1>
            <div class="row">
                <div class="column">
                    <div class="testimonials-img">
                        <img src="src/index/testimonial1.jpg">
                    </div>
                    <p>"As a student, I really feel like I'm learning the material now, thanks to the help of my tutors
                        at Air Tutor! Each and every one of them has been able to help me understand concepts very
                        easily, and I'm not sure what I would have done without them."
                        <br><br><span class="author">Ann, Burnaby</span>
                    </p>
                </div>

                <div class="column">
                    <div class="testimonials-img">
                        <img src="src/index/testimonial2.jpg">
                    </div>
                    <p>"As a tutor, I sure am grateful that Air Tutor allows me to use every possible tool I might need
                        in order to teach my students. Though physics can get really tricky, Air Tutor is really easy to
                        use!"
                        <br><br><span class="author">Jacob, Maryland</span>
                    </p>
                </div>

                <div class="column">
                    <div class="testimonials-img">
                        <img src="src/index/testimonial3.jpg">
                    </div>
                    <p>"As a student, I am glad that I can message and receive messages from tutors whenever I need the
                        help. You can really see the difference in my grades, before and after I started using Air
                        Tutor."
                        <br><br><span class="author">Christopher, Orlando</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="signup-content">
            <h1>Sign up for Air Tutor today.</h1>
            <a href="/signup" class="signup-button">Sign up for an account</a>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
    <script src="scripts/firebase.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!--Optional JS-->
    <script src="scripts/index.js"></script>
    <script src="scripts/signup_1.js"></script>
</body>