<!doctype html>
<html lang="en">

<head>
    <title>Live Chat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libraries -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/livechat.css">


    <!-- Icons -->
    <%- include("../partials/favicon.ejs") %>
</head>

<body>
    <!-- Main Content -->
    <div>
        <!--Nav Bar -->
        <%- include("../partials/navbar.ejs") %>
        <header>
            <!-- Title of this page -->
            <h1 class="text-center" id="who">Live Chat</h1>
        </header>

        <div class="messaging-box">
            <!-- Where chat messages are displayed -->
            <div class="chat-window">
                <div class="chat-log"></div>
            </div>
            <!-- Input box and send button -->
            <div class="chat-inputs">
                <input class="chat-input" type="text" placeholder="Enter Message">
                <input class="send-btn" type="button" value="Send">
            </div>
        </div>
    </div>
    <!-- Firebase javascripts -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="scripts/firebase.js"></script>
    <script src="scripts/firebase-main.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <script src="scripts/navbar.js"></script>
    <script src="scripts/livechat.js"></script>
</body>

</html>