<!doctype html>
<html lang="en">

<head>
    <title>Session</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/footer.css">

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/session.css">
    <link rel="stylesheet" href="./styles/base.css">

    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
    <%- include("../partials/favicon.ejs") %>
</head>

<body>

    <div id="layer3">
        <audio src=""></audio>
        <video src=""></video>
        <canvas id="canvas" height="100vh" width="100vw" style="border: 2px solid black;"></canvas>
        <div class="buttons">
            <div class="buttonList">
                <!-- Screen Share -->
                <div class="buttonItem" id="screen-share-btn">
                    <svg id="laptop-share-screen" aria-hidden="true" focusable="false" data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 640 512">
                        <path
                            d="M624,416H381.54c-.74,19.81-14.71,32-32.74,32H288c-18.69,0-33-17.47-32.77-32H16A16,16,0,0,0,0,432v16a64.19,64.19,0,0,0,64,64H576a64.19,64.19,0,0,0,64-64V432A16,16,0,0,0,624,416ZM576,48A48.14,48.14,0,0,0,528,0H112A48.14,48.14,0,0,0,64,48V384H576ZM512,320H128V64H512Z" />
                        <path
                            d="M419.52,174.88,348.8,113.81a9.65,9.65,0,0,0-15.94,7.3v32.17C268.32,154,217.14,167,217.14,228.11c0,24.69,15.91,49.14,33.49,61.93,5.48,4,13.3-1,11.28-7.49-18.22-58.26,8.64-73.73,70.95-74.62v35.32a9.64,9.64,0,0,0,15.94,7.3l70.72-61.07A9.65,9.65,0,0,0,419.52,174.88Z" />
                        </svg>
                </div>
                <!-- Canvas -->
                <div class="buttonItem" id="canvas-brush-btn">
                    <svg id="canvas-brush" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="paint-brush" class="svg-inline--fa fa-paint-brush fa-w-16" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M167.02 309.34c-40.12 2.58-76.53 17.86-97.19 72.3-2.35 6.21-8 9.98-14.59 9.98-11.11 0-45.46-27.67-55.25-34.35C0 439.62 37.93 512 128 512c75.86 0 128-43.77 128-120.19 0-3.11-.65-6.08-.97-9.13l-88.01-73.34zM457.89 0c-15.16 0-29.37 6.71-40.21 16.45C213.27 199.05 192 203.34 192 257.09c0 13.7 3.25 26.76 8.73 38.7l63.82 53.18c7.21 1.8 14.64 3.03 22.39 3.03 62.11 0 98.11-45.47 211.16-256.46 7.38-14.35 13.9-29.85 13.9-45.99C512 20.64 486 0 457.89 0z">
                        </path>
                    </svg>
                </div>
                <!-- Mic -->
                <div class="buttonItem" id="mic-mute-btn">
                    <svg id="mic-mute" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="microphone-slash" class="svg-inline--fa fa-microphone-slash fa-w-20" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path
                            d="M633.82 458.1l-157.8-121.96C488.61 312.13 496 285.01 496 256v-48c0-8.84-7.16-16-16-16h-16c-8.84 0-16 7.16-16 16v48c0 17.92-3.96 34.8-10.72 50.2l-26.55-20.52c3.1-9.4 5.28-19.22 5.28-29.67V96c0-53.02-42.98-96-96-96s-96 42.98-96 96v45.36L45.47 3.37C38.49-2.05 28.43-.8 23.01 6.18L3.37 31.45C-2.05 38.42-.8 48.47 6.18 53.9l588.36 454.73c6.98 5.43 17.03 4.17 22.46-2.81l19.64-25.27c5.41-6.97 4.16-17.02-2.82-22.45zM400 464h-56v-33.77c11.66-1.6 22.85-4.54 33.67-8.31l-50.11-38.73c-6.71.4-13.41.87-20.35.2-55.85-5.45-98.74-48.63-111.18-101.85L144 241.31v6.85c0 89.64 63.97 169.55 152 181.69V464h-56c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16z">
                        </path>
                    </svg>
                </div>
                <!-- Hang Up -->
                <div class="buttonItem" id="phone-call-btn">
                    <svg id="phone-call" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone"
                        class="svg-inline--fa fa-phone fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>

    </div>
    <!-- Firebase javascripts -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="scripts/firebase.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <!-- Optional JavaScript -->
    <script src="scripts/session.js"></script>
    <script src="./scripts/draw.js"></script>
    <!-- <script src="./scripts/chat.js"></script> -->
</body>

</html>