<!doctype html>
<html lang="en">

<head>
    <title>Settings</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/settings.css">
    <link rel="stylesheet" type="text/css" href="styles/footer.css">
    <%- include("../partials/favicon.ejs") %>
</head>

<body>
    <%- include("../partials/navbar.ejs") %>

    <div class="settings">
        <h4>Aesthetic</h4>
        <a href="">Toggle dark mode</a>
        <br><br>

        <h4>Account</h4>
        <a href="">Change email</a><br>
        <a href="">Change password</a><br><br>

        <h4>Application</h4>
        <a href="">Terms of service</a>
        <br><br>
    </div>

    <!-- scripts -->
    <script src="scripts/navbar.js"></script>
    <script src="scripts/settings.js"></script>
</body>

</html>