<!doctype html>
<html lang="en">

<head>
  <title>View profile</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- External styling -->
  <link rel="stylesheet" type="text/css" href="styles/profile.css">
  <link rel="stylesheet" type="text/css" href="styles/footer.css">
  <link rel="stylesheet" href="styles/navbar.css">
  
  <!-- Favicon -->
  <%- include("../partials/favicon.ejs") %>
</head>

<body>
  <!--Nav Bar -->
  <%- include("../partials/navbar.ejs") %>
  <!--Header-->
  <div class="text-center mb-3 my-5 px-2">
    <h1>View Profile</h1>
  </div>
  <!--Content-->

  <div class="container my-5">
    <div class="row">
      <div class="my-3 col-md-6 col-xs-12">
        <img src="/src/profile.png" id="imagefile">
      </div>
      <div class="col-md-6 col-xs-12">
        <!--Display General information-->
        <div id="profile">
          <div>
            <h2 id="name">Your Name</h2>
            <p id="country">Country: N/A</p>
            <p id="language">Language: N/A</p>
          </div>
          <!--Display student information if available-->
          <div id="student">
            <p id="education"></p>
            <p id="grade"></p>
          </div>
          <!--Display tutor information if available-->
          <div id="tutor">
            <p id="educomplete"></p>
          </div>
          <!--Display best subject if available-->
          <div id="optional">
            <p id="subject"></p>
          </div>
          <!--Display ratings if person tutored-->
          <div id="rating">
            <p id="pro"></p>
            <p id="tq"></p>
            <p id="norate"></p>
          </div>
        </div>
      </div>
      <!--Shows a bio for user if they have a bio-->
      <div id="bio-container" class="col-md-6 col-xs-12">
        <div class="my-3">
          <h4 id="biotitle"></h4>
          <p id=bio></p>
        </div>
      </div>
    </div>
  </div>

  <!--Footer-->

  <%- include("../partials/footer.ejs") %>
  <!-- Firebase javascripts -->
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
  <script src="scripts/firebase.js"></script>
  <script src="scripts/firebase-main.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Optional JavaScript -->
  <script src="scripts/viewprofile.js"></script>
  <script src="scripts/navbar.js"></script>
</body>

</html>