@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background-color: #f1f1f1;
  font-family: "Raleway";
  background: #f1f1f1;
}

header {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: bolder;
}


img{
    width: 60vw;
}

#container{
    text-align: center;
}