@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    font-family: "Raleway";
    margin-right:20px;
}

h1, h2, h3, h4, h5 {
    padding-top: 10px;
    color: #283b42;
    text-align: center;
    font-family: "Raleway";
    font-weight: 600;
}

h5 {
    font-family: "Roboto";
}

#forms {
    margin: 10px;
}

input, textarea, label, select {
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
}

#student {
    display:none;
}

#tutor {
    display:none;
}

#pro-pic {
    display:none;
}


@media only screen and (max-width: 600px) {
    .forms {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        display:grid;
        grid-template-columns: 1fr 3fr;
    }


}

#success{
    position:absolute;
    display:none;
}

#preview {
    display:block;
    margin:auto;
    width: 160px;
    height: 200px;
}

.nav-pills a:hover {
    color: #85b8cb !important;
}
.nav-pills a{
    color:#283b42;
}
.active {
    background-color:#283b42 !important;
    color: #f1f1f1 !important;
}

#submit-button {
    background-color: #283b42;
    color:#f1f1f1;
}

#return-button {
    background-color: #17A38B;
    color:#f1f1f1;
}

