@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #f1f1f1;
    font-family: "Raleway";
}

h1, h2, h3, h4, h5 {
    padding-top: 10px;
    color: #283b42;
    text-align: center;
    font-family: "Raleway";
    font-weight: 600;
}

h5 {
    font-family: "Roboto";
}

#forms {
    margin: 10px;
}

input, textarea, label, select {
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
}

#student {
    display:none;
}

#tutor {
    display:none;
}

@media only screen and (max-width: 600px) {
    .forms {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        display:grid;
        grid-template-areas:
        "navbar navbar navbar"
        "header header header"
        "legend forms forms"
        "legend forms forms"
        "legend forms forms";
    }
    nav{
        grid-area:navbar;
    }
    header {
        grid-area:header;
    }
    aside {
        grid-area: legend;

    }
    #legend {
        position: sticky;
        top:0;
    }
    #forms{
        grid-area:forms;
    }

}