@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    text-decoration: underline;
    text-decoration-color: #85b6cb;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial;
    color: #262834;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    font-weight: bolder;
}

p {
    line-height: 1.6;
    font-size: 12pt;
    text-align: center;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #1d6a96;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 1s;
    /* 1 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    font-family: 'Raleway';
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18pt;
    font-weight: 500;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #85b6cb;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main-content {
    transition: margin-left .5s;
}

#menu-svg {
    color: #1d6a96;
    margin: 16px;
    height: 32px;
    width: 32px;
}

#header-content>h1, #header-content>p {
    margin-bottom: 8px;
    text-align: center;
}

#header-content>h1 {
    font-size: 28pt;
    text-decoration: underline;
    text-decoration-color: #85b6cb;
}

#categories {
    color: #f1f1f1;
    font-family: 'Raleway';
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
}

.categories-column {
    /* flex: 33.3333333333%;
    max-width: 33.3333333333%; */
    flex: 25%;
    max-width: 25%;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
    box-shadow: 23px 59px 100px -57px rgba(40, 59, 66, 0.55);
    background-color: #1d6a96;
}

.categories-column>img {
    height: 120px;
    margin: 8px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #85b6cb;
}

#faq-content {
    margin-left: 32px;
    margin-right: 32px;
}

.section {
    margin-bottom: 32px;
}

#plus-svg, #minus-svg {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.answer {
    display: none;
}

.question {
    cursor: pointer;
    border: 1px solid #85b6cb;
    border-radius: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.answer {
    padding-bottom: 16px;
}

@media (max-width: 800px) {
    .categories-column {
        flex: 100%;
        max-width: 100%;
        margin: 8px;
        padding: 8px;
    }
}

@media (max-width: 530px) {
    #categories, #faq-content {
        margin-left: 16px;
        margin-right: 16px;
    }

    .categories-column>img {
        height: 80px;
        margin: 4px;
    }
}

@media (max-width: 400px) {
    .categories-column>img {
        height: 40px;
        margin: 0px;
    }
}