.footer {
  color: white;
  padding: 5px;
  font-family: "Raleway";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #283b42;
  text-align: center;
  z-index:1;
}

a[href="/faq"] {
  text-decoration-style: none;
  color: white;
}

.footer>a, a:hover {
  color:white;
}

#plane{
  width: 50px
}

