@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.footer {
  color: white;
  padding: 5px;
  font-family: "Raleway";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  text-align: center;
  z-index:1;
}

a[href="/faq"] {
  text-decoration-style: none;
  color: white;
}

.footer>a, a:hover {
  color:white;
}