@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background-color: #f1f1f1;
  font-family: "Raleway";
  background: #f1f1f1;
}

header {
  width: 100%;
}

#home-content {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: bolder;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #85b6cb;
  margin-bottom: 24px;
}

.row {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex: 90%;
}

a {
  color: #283b42;
}

p {
  margin: 8px;
}

.side {
  margin-top: -10px;
  margin-left: 0px;
  flex: 10%;
  background-color: #f1f1f1;
}

/* Add a card effect for articles */

.card {
  text-align: center;
  margin-bottom: 20px;
  padding: 8px 16px 16px 16px;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 23px 59px 100px -57px rgba(40, 59, 66, 0.55);
  border: 1px solid transparent;
}

#leftcolumn {
  margin-left: 32px;
  margin-right: 32px;
  text-align: center;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 23px 59px 100px -57px rgba(40, 59, 66, 0.55);
  height: 100%;
  padding: 8px 16px 16px 16px;
}

#rightcolumn {
  margin-right: 32px;
}

.icon {
  width: 100px;
}

#box {
  display: flex;
}

.dir {
  border-radius: 20px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  padding-bottom: 0px;
  background-color: #1d6a96;
  color: #f1f1f1;
  border-color: none;
}

.dir:hover {
  cursor: pointer;
}

.dir>img {
  padding: 0px;
}

#profilePic {
  width: 160px;
  border-radius: 50%;
  background-color: #85b8cb;
  border: 5px solid #85b8cb;
  margin-top: -60px;
}

#prompt {
  display: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

@media (min-width: 800px) {
  #home-content {
    flex-direction: row;
  }

  #leftcolumn {
    width: 50%;
  }
  
  #rightcolumn {
    width: 50%;
  }
}

@media (max-width: 800px) {
  #rightcolumn {
    margin-left: 32px;
  }
}

#home-content{
  margin-top: 70px
}