@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #f1f1f1;
  font-family: "Raleway";
  background: #f1f1f1;
}

header {
  width: 100%;
}

#home-content {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px){
  #home-content{
    flex-direction: row;
  }
  #leftcolumn{
    width: 50%
  }
}

h1, h2, h3, h4, h5 {
  padding-top: 20px;
  font-family: "Raleway";
  font-weight: 500;
  color: #283b42;
}

.row {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex: 90%;
}

a {
  color: #283b42;
}

.side {
  margin-top: -10px;
  margin-left: 0px;
  flex: 10%;
  background-color: #f1f1f1;
  padding: 30px;
}


/* Add a card effect for articles */
.card {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 25px;
}

#leftcolumn{
  text-align: center;
}

.icon{
  width: 100px
}

#box{
  display: flex;
}

.dir{
  border: 1px dashed black;
}

#profilePic{
  width: 200px
}