@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial;
    background-color: #f1f1f1;
    color: #262834;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Raleway';
    font-weight: bolder;
}

p {
    line-height: 1.6;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #1d6a96;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 1s;
    /* 1 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    font-family: 'Raleway';
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18pt;
    font-weight: 500;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #85b6cb;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main-content {
    transition: margin-left .5s;
}

#description-content, #features-content, #testimonials-content, .signup-content {
    margin-bottom: 128px;
}

#features-content>h1, #testimonials-content>h1, .signup-content>h1 {
    padding-left: 32px;
    padding-right: 32px;
}

.signup-title {
    text-align: left;
}

.signup-content {
    margin: 72px 0px 72px 0px;
}

.signup-content>h1 {
    color: #1d6a96;
}

.title {
    text-decoration: underline;
    text-decoration-color: #85b6cb;
}

.signup-content {
    text-align: center;
}

.signup-button {
    font-family: 'Raleway';
    text-decoration: none;
    text-align: center;
    color: #f1f1f1;
    padding: 8px 24px 8px 24px;
    font-weight: 500;
    font-size: 16pt;
    background-color: #1d6a96;
    border: solid 1px #1d6a96;
    border-radius: 50px;
    margin-bottom: 36px;
}

#description-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#description-content>.row>.column>h1 {
    text-align: left;
    font-size: 36pt;
}

#description-content>.row>.column>p {
    font-size: 16pt;
}

#description-content>.row {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 16px;
}

.description-column {
    text-align: center;
    flex: 50%;
    max-width: 50%;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.description-img {
    margin-left: 72px;
    margin-top: 24px;
    padding: 0px;
    height: 100%;
    width: 200%;
    background-image: url("/src/index/header.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#description-content>.row>.column>.description-img>img {
    margin-left: 64px;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 8px 16px;
}

.features-img, .testimonials-img {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 200px;
    object-fit: cover;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features-img>img, .testimonials-img>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.testimonials-img>img {
    border-radius: 50%;
}

/* Create four equal columns that sits next to each other */

.column {
    flex: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.author {
    color: #1d6a96;
    font-family: 'Raleway';
    font-weight: bold;
}

/* SVG files */

#menu-svg {
    color: #1d6a96;
    margin: 16px;
    height: 32px;
    width: 32px;
}

/* Media queries */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media (max-width: 450px) {
    #description>h1 {
        font-size: 28pt;
    }
    #description>p {
        font-size: 10pt;
    }
    .signup-button {
        font-size: 16pt;
    }
    .column, #description, .description-img {
        flex: 100%;
        max-width: 100%;
    }
    .description-img {
        height: 200px;
    }
    #description-content>.row {
        padding: 8px 8px;
    }
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 780px) {
    #description-content>.row>.column>h1 {
        font-size: 48pt;
    }
    p {
        font-size: 16pt;
    }
    .description-img {
        height: 400px;
    }
    #features-content>h1, #testimonials-content>h1 {
        font-size: 36pt;
    }
    #features-content>.row>.column>h2 {
        font-size: 24pt;
    }
}

@media (max-width: 1060px) {
    .description-column, #description, .description-img {
        flex: 100%;
        max-width: 100%;
        width: 100%;
    }
    .description-img {
        display: inline-block;
        padding: 0px;
    }
    #description>h1 {
        font-size: 36pt;
    }
    #description>p {
        font-size: 12pt;
    }
}

/* Responsive layout - makes a one column-layout instead of three columns */

@media (max-width: 1070px) {
    #description-content>h1 {
        font-size: 36pt;
    }
    #description>p {
        font-size: 11pt;
    }
    .column, #description, .description-img {
        flex: 100%;
        max-width: 100%;
        width: 100%;
    }
    .description-img {
        padding: 0px;
        margin-left: 0px;
        height: 56vh;
    }
}