@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav {
    font-family: "Raleway";
}

body {
    font-family: "Raleway";
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}

h1, h2, h3, h4, h5 {
    padding-top: 10px;
    color: #283b42;
    text-align: center;
    font-family: "Raleway";
    text-decoration: underline;
    text-decoration-color: #85b6cb;
}

/* 
@media only screen and (max-width: 767px){
    html { 
        overflow-y: scroll; 
      }
    
} */
/* chat box */
.messaging-box {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    width: 100%;
}



.chat-window{
    padding: 0px 10px;
}


.chat-inputs {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: stretch;
    padding: 0.5rem;
    background-color: var(--bg-primary-light);
}

.send-btn {
    flex-grow: 1;
    border: none;
    font-size: 1.5rem;
    color: var(--text-primary-light);
    border-radius: 24px;
    background-color: #1d6a96;
    color: #f1f1f1;
    margin-left: 16px;
    margin-right: 16px;
}

.chat-input {
    font-size: 1.5rem;
    flex-grow: 2;
    border-radius: 0.2rem;
    border-style: solid;
    border: none;
    padding: 0.5rem;
    min-width: 200px;
    margin-left: 16px;
}

/* scheduler button */

#who{
    color: var(--text-primary-light);
    background-color: white;
}

.chat-log{
    margin-bottom: 70px;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
}