@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

h1, h3 {
    text-decoration: underline;
    text-decoration-color: #85b6cb;
}

body {
    font-family: 'Roboto';
    background-color: #f1f1f1;
    color: #262834;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    font-weight: bolder;
    text-align: center;
}

p {
    line-height: 1.6;
    font-size: 12pt;
    text-align: center;
}

#login-img {
    width: 28vw;
}

#content {
    margin-left: 64px;
    margin-right: 64px; 
}

#login-button {
    text-align: center;
    color: #f1f1f1;
    padding: 8px 24px 8px 24px;
    background-color: #1d6a96;
    border: solid 1px #1d6a96;
    border-radius: 50px;
    width: 100%;
    font-size: 12pt;
}

small {
    text-align: left !important;
}

@media (max-width: 600px) {
    #content {
        margin-left: 32px;
        margin-right: 32px;
    }

    #login-img {
        width: 300px;
    }
}


@media (max-width: 800px) {
    #content {
        margin-top: 32px;
    }
}