@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav {
    font-family: "Raleway";
}

body {
    font-family: "Roboto";
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, h4, h5 {
    padding-top: 10px;
    color: #283b42;
    text-align: center;
    font-family: "Raleway";
    font-weight: 500;
}


@media only screen and (max-width: 767px){
    html { 
        overflow-y: scroll; 
      }
    
}
/* chat box */
.messaging-box {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}



/* chat log */

@media only screen and (min-height: 870px) {
    .chat-window {
        /* width: 100vw;*/
        height: 70vh;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
}

@media only screen and (min-height: 670px) and (max-height: 870px) {
    .chat-window {
        /* width: 100vw;*/
        height: 60vh;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
}

@media only screen and (min-height: 540px) and (max-height: 670px) {
    .chat-window {
        /* width: 100vw;*/
        height: 50vh;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
}

@media only screen and (min-height: 440px) and (max-height: 540px) {
    .chat-window {
        /* width: 100vw;*/
        height: 40vh;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
}

@media only screen and (min-height: 360px) and (max-height: 440px) {
    .chat-window {
        /* width: 100vw;*/
        height: 25vh;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
}

@media only screen and (max-height: 360px) {
    .chat-window {
        /* width: 100vw;*/
        height: 10vh;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* chat log outputs */

/* chat inputs */

.chat-inputs {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: stretch;
    padding: 0.5rem;
    background-color: var(--bg-primary-light);
}

.send-btn {
    flex-grow: 1;
    border: none;
    background-color: var(--bg-secondary-light);
    font-size: 1.5rem;
    color: var(--text-primary-light);
}

.chat-input {
    font-size: 1.5rem;
    flex-grow: 2;
    border-radius: 0.2rem;
    border-style: solid;
    border: none;
    padding: 0.5rem;
}

/* scheduler button */

.schedule-btn {
    width: 95vw;
    margin: 0.5rem 2.5vw 0 2.5vw;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--bg-secondary-light);
    font-size: 1.5rem;
    color: var(--text-primary-light);
    line-height: 3rem;
    display: none;
}

#who, #what {
    color: var(--text-primary-light);
}

#profile {
    width: 50px
}

#namepic {
    max-width: 300px;
    border: 1px solid var(--text-primary-light);
    background-color: lightgoldenrodyellow;
    margin: auto;
    display: flex;
    justify-content: center;
}