@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    font-family: "Raleway";
}

body {
    font-family: "Raleway";
    padding-left: 0px;
    padding-right: 0px;
    background-color:#f1f1f1;
}
 

 .hover {
     background-color: #85b8cb;
 }

 #nomsg {
     display: none;
 }

 h1 {
     padding-top: 10px;
     color: #283b42;
     text-align: center;
     font-family: "Raleway";
     text-decoration: underline;
     text-decoration-color: #85b6cb;
 }