@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    font-family: "Raleway";
}

body {
    background-color: #f1f1f1;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway";
    color: #283b42;
}

button {
    border-radius: 5px;
    border-style: solid;
    border-color: #ced4da;
    border-width: 1.25px;
}



@media only screen and (min-width: 1024px){
    #schedules{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    #schedules{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 767px){
    #schedules{
        display: grid;
        grid-template-columns: 1fr;
    }
}
