@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
    font-family: "Raleway";
}

body {
    background-color: #f1f1f1;
}

#container {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto";
}

#imagefile {
    display:block;
    text-align: center;
    font-family: "Roboto";
    border: solid black 2px;
    width: 320px;
    height: 400px;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway";
    font-weight: 500;
    color: #283b42;
}

#bio-container {
    margin-bottom:35px;
}

@media (max-width:800px) {
    #imagefile {
        margin: auto;
        
    }
    #profile {
        margin-top: 10px;
        text-align: center;
    }
    #bio-container {
        text-align: center;
    }
}


