@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', Arial;
    background-color: #f1f1f1;
    color: #262834;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    text-decoration-color: #85b6cb;
    font-family: 'Raleway';
    font-weight: bolder;
}

.navbar {
    font-family: "Raleway";
}

body {
    background-color: #f1f1f1;
}

p {
    margin: 0px;
    padding: 0px;
}

#container {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto";
}

#imagefile {
    display:block;
    text-align: center;
    font-family: "Roboto";
    border: solid #85b6cb 10px;
    height: 400px;
    border-radius: 50%;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway";
    font-weight: 500;
    color: #283b42;
}

#bio-container {
    margin-bottom:35px;
}

#edit {
    background-color: #1d6a96;
}

@media (max-width:800px) {
    #imagefile {
        margin: auto;
        
    }
    #profile {
        margin-top: 10px;
        text-align: center;
    }
    #bio-container {
        text-align: center;
    }
}


