@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial;
    background-color: #f1f1f1;
    color: #262834;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #85b6cb;
    font-family: 'Raleway';
    font-weight: bolder;
}

#request, #confirm-request, #schedule, #content {
    padding: 20px;
}

input, button, textarea, select {
    border-style: solid;
    border-color: #ced4da;
}

i {
    color: #85b6cb;
}

label {
    font-family: 'Raleway';
    font-weight: 500;
}