@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body:not(.navbar navbar-expand-md navbar-light bg-light) {
    padding: 20px;
}

body {
    background-color: #f1f1f1;
    font-family: "Raleway";
}

.settings {
    padding: 20px;
}

.settings>a {
    color: black;
}

.settings>a:hover {
    color: #283b42;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    padding-top: 20px;
    font-family: "Raleway Black";
    color: #283b42;
}