@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
  font-family: "Raleway";
}

body {
  background-color: #f1f1f1;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
}


h1, h2, h3, h4, h5 {
  font-family: "Raleway";
  font-weight: 500;
  color: #283b42;
}

h1 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #85b6cb;
  margin-bottom: 24px;
}

#success {
  display:none;
  text-align:center;
  background-color:#283b42;
  color: #f1f1f1;
  opacity:100%;
  border-radius:24px;
  font-size:12px;
  max-height: 200px;
  max-width:300px;
  padding:20px;

  margin-top:-110px;
  margin-left:-160px;
  position:fixed;
  top: 50%;
  left: 50%;
  z-index:1;
}

.btn {
  background-color: #1d6a96;
  border-radius: 24px;
}