@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
  font-family: "Raleway";
}

body {
  background-color: #f1f1f1;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
}


h1, h2, h3, h4, h5 {
  font-family: "Raleway";
  font-weight: 500;
  color: #283b42;
}

#success {
  display:none;
  text-align:center;
  background-color:#283b42;
  color: #f1f1f1;
  opacity:100%;
  border-radius:24px;
  font-size:20px;
  max-height: 200px;
  max-width:300px;
  padding:20px;

  margin-top:-110px;
  margin-left:-160px;
  position:fixed;
  top: 50%;
  left: 50%;
  z-index:1;
}