<select placeholder='Education'class='form-control' id="countryField" name="Education Level">
    <option>Education</option>
    <option value="Elementary School">Elementary School</option>
    <option value="Middle School">Middle School</option>
    <option value="High School">High School</option>
    <option value="Univeristy">University</option>    
</select>


