<!--Navbar for all pages that user is logged in on-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=265211758218768&autoLogAppEvents=1"></script>

<!-- Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav -->
<nav id="main-sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/home">Air Tutor</a>
  <a href="/profile" id="dropdownId">Profile Page</a>
  <a href="/editprofile">Edit Profile</a>
  <a href="/shop" id="current-cash">Credits:</a>
  <hr>
  <a href="/request">Request</a>
  <a href="/post">Posts</a>
  <a href="/myschedule">My Schedule</a>
  <a href="/messages" id="new-message">Message</a>
  <a href="/livechat">Live Chat</a>
  <a href="/" id="signout">Logout</a>
  <hr>
  <!-- Source: "https://developers.facebook.com/docs/sharing/web/" -->
  <div class="fb-share-button" data-href="https://airtutormvp.web.app/" data-layout="button"
    data-text="Need help answering homework questions? Need help trying to find homework questions to answer? Air Tutor is for both students and tutors. Sign up now!"
    data-size="large"><a target="_blank"
      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fairtutormvp.web.app%2F&amp;src=sdkpreparse"
      class="fb-xfbml-parse-ignore">Share</a></div>
  <!-- Source: "https://publish.twitter.com/"  -->
  <div class="tw-share-button"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
      data-size="large"
      data-text="Need help answering homework questions? Need help trying to find homework questions to answer? Air Tutor is for both students and tutors. Sign up now!"
      data-url="https://airtutormvp.web.app/" data-hashtags="homeworkhelp" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</nav>

<span id="menu-button" onclick="openNav()">
  <svg aria-hidden="true" focusable="false" id="menu-svg" data-prefix="fas" data-icon="bars"
    class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <path fill="currentColor"
      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
    </path>
  </svg>
  <path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9
  13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9
  33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z">
  </path>
  </svg>
</span>


<!-- Modal that will be used for pages -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal-cont" class="modal-content">
    <h3>Attention:</h3>
    <p>You were not awarded credits because the student was not satisfied with your work. </p>
    <p>Reason:</p>
    <div id="reason">
      <p><i></i></p>
    </div>
    <button id="close" class="btn btn-danger">I understand</button>
  </div>

</div>