<!--Drop down asking for eduacation completed for sign up and edit profile
I found this code on https://gist.github.com
source: https://gist.github.com/ag14spirit/b518689097820eec9eb8229ca40add00-->
<label for= "educationComp">Education completed</label>
<select class="form-control dropdown" id="educationCompField" name="educationComp">
    <option value="" selected="selected" disabled="disabled">Education Completed</option>
    <option value="No formal education">No formal education</option>
    <option value="Primary education">Primary education</option>
    <option value="Secondary education">Secondary education or high school</option>
    <option value="GED">GED</option>
    <option value="Vocational qualification">Vocational qualification</option>
    <option value="Bachelor's degree">Bachelor's degree</option>
    <option value="Master's degree">Master's degree</option>
    <option value="Doctorate or higher">Doctorate or higher</option>
  </select>
<br>
  <label for= "subject">What is your speciality subject?</label>
  <select class="form-control dropdown" id="subjectField" name="subject">
    <option value="" selected="selected" disabled="disabled">Main Subject</option>
    <option value="Math">Math</option>
    <option value="Physics">Physics</option>
    <option value="Chemistry">Chemistry</option>
    <option value="Biology">Biology</option>
    <option value="English">English</option>
    <option value="Social Studies">Social Studies</option>
    <option value="General Science">General Science</option>
    <option value="Computer Science">Computer Science</option>
    <option value="History">History</option>
    <option value="Geography">Geography</option>
    <option value="French">French</option>
    <option value="Other">Other</option>
  </select>
