<label for= "firstNameField">First Name</label>
<input type='text' class='form-control' name='firstNameField' id='firstNameField'
aria-describedby='firstNameHelpId' placeholder='First name' required>
<label for= "lastNameField">Last Name</label>
<input type='text' class='form-control' name='lastNameField' id='lastNameField'
aria-describedby='lastNameHelpId' placeholder='Last name' required>
<label for= "emailSignupField">Email</label>
<input type='email' class='form-control' name='emailSignupField' id='emailSignupField'
aria-describedby='emailHelpId' placeholder='Email' required>
<label for= "passwordSignupField">Password</label>
<input type='password' class='form-control' name='passwordSignupField' pattern='[A-Za-z0-9]{8,16}'
id='passwordSignupField' aria-describedby='passwordHelpId' placeholder='Password' required>